@import url('https://fonts.googleapis.com/css2?family=Sono&display=swap');

* {
    box-sizing: border-box;
}

body{
    font-family: 'sono', sans-serif;
    background-image: url('back.jpg');
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 4rem;
    margin-top: 5rem;
    font-weight: normal;
    color: white;
}

.countDownContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.big-text{
    color: white;
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
    margin: 1rem 2rem;

}

.countdown-e {
   text-align: center;
   color: white;
}


.countdown-e span{
    font-size: 1.3rem;
    color: white;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;

}